
/* 
    Created on : May 12, 2016, 10:38:03 PM
    Author     : DouglasJones
*/
html {
   height: 100%;
}
h1 {
	color: #ffffff;
	text-align: center;
}
* html #nonFooter {
    height: 100%;
}


nav {
    margin: auto;
    width: 100%;
    font-size: 25px;
    font-family: Palatino,"Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    border-radius: 8px;
	
}
nav ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

nav li { 
display: inline; 
padding: 20px; 
}

nav a {
	color: #000000;
    padding: 8px 8px 8px 8px;
	font-weight: bold;
}

nav a:hover {
    color: #ffffff;
	}
	
#container{
	font-family:"Comic Sans", "Comic Sans MS", cursive;
	margin: auto; 
	padding:10px; 
	width:70%; 
	height: auto; 
	border-radius: 8px;
	}

#left{
	float:left;
	
	width:40%;
	background-color:  #ffffff; 
	border-radius: 8px;
	padding: 8px 8px 8px 8px;
	border: 2px solid #000000;
	font-weight: bold;
	}

#right{
	float:right;
	width:40%;
	background-color: #ffffff; 
	border-radius: 8px;
	padding: 8px 8px 8px 8px;
	border: 2px solid #000000;
	
	font-weight: bold;
	}

#content {
    padding-bottom: 9em;
}

#footer {
    position: relative;
    margin-top: -7.5em;
}

#nonFooter {
    position: relative;
    min-height: 100%;
}

body { 
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 80%;
    height: 100%;
}

img.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	}